.bg_login {
  height: 100vh;
}

.btn_twitter {
  background-color: #1da1f2 !important;
  color: white !important;
}
.responsive_img {
  width: 100%;
  height: 100%;
}
.login_image_section {
  max-width: 10rem;
}
